.category {
    min-height: 0;
    min-width: 0;
    width: clamp(300px, 65vw, 1500px);
    height: clamp(200px, 20vw, 300px);

    border: none;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow: hidden;
}

.categoryHeader {
    width: 100%;
    height: 15%;

    font-size: larger;

    display: flex;
    align-items: center;
}

.categoryHeader > p {
    font-size: clamp(0.8em, 1vw, 3em);
}

.categoryHeader .expandIcon {
    height: 1em;
    width: 1em;
    margin-left: auto;
    display: none;
}

.books .noBooks {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;

    color: #969891;
    font-weight: 600;
    user-select: none;

    font-size: clamp(1.5em, 2vw, 3em);
}

.books {
    min-height: 0;
    min-width: 0;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
    display: flex;
    gap: 1em;
    padding: clamp(0.5em, 1.5vh, 2em) clamp(0.5em, 1.5vw, 3em);

    background-color: #E8E9E2;
}

.overflow::after {
    content: "";
    position: absolute;
    border-radius: 0 10px 10px 0;
    top: 0;
    right: 0;
    width: 6rem;
    height: 100%;
    background: linear-gradient(to right, transparent, #ededed 60%);
    pointer-events: none;
    user-select: none;
    z-index: 2;

}

.seeMoreContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(50px, 8.5vw, 80px);
    height: 100%;

    right: 0;
    bottom: 50%;
    transform: translateY(50%);

    z-index: 3;
}

.seeMoreContainer > p {
    font-size: clamp(0.5em, 1vw, 1em);
}

.seeMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(30px, 3vw, 60px);
    aspect-ratio: 1;
    box-sizing: border-box;

    border-radius: 50px;
    
    background-color: lightgrey;
}

.seeMore:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.seeMore > img {
    height: 70%;
    width: 70%;
}

.hidden {
    display: none;
}
