.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    background-image: url('../../assets/background.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
}

.loggedIn {
    display: none;
}