.container {
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 450px;
    padding: 25px 35px 30px 35px;
    border-radius: 10px;
    box-sizing: border-box;
    gap: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

p {
    margin: 0;
}

.formContainer {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    gap:5px;
}

.formContainer input, select {
    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    border:none;
    font-size: 1rem;
    padding-left: 3%;
    box-sizing: border-box;
    background-color: #ededed;
}

.formContainer input:focus {
    outline: 2px solid #4D643A;
}

input.empty {
    outline: 2px solid red;
}

.message {
    font-size: .9rem;
    font-style: italic;
    color: #740000;
}

.button {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap:5px;
}

.button u:hover {
    color: #4D643A;
}

.button button {
    margin-top: auto;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #4D643A;
}

.button button:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

.next {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.next button {
    width: 49%;
}

.popupContainer {
    height: 100%;
    width: 100%;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.popup button {
    width: 60%;
    height: 20%;
    border-radius: 10px;
    border: none;

    background-color: #4D643A;
}

.popup button:hover {
    transform: scale(1.01);
}