.container {
    z-index: 0;
    margin-left: 3.5vw;
    margin-top: 7vh;

    width: 100vw;
    height: 93vh;
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(16, 44, 16); */
}

.addBookContainer{
    width: 1450px;
    height: 700px;

    display: flex;
    justify-content: center;
    gap: 5px;
    /* background-color: gray; */
}

.coverContainer {
    width: 30%;
    height: 100%;
    
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px dashed #4D643A;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #4D643A;
    font-size: 3rem;
    user-select: none;

    background-color: rgba(255,255,255,0.05);
}

.validCover {
    border:none;
}

.coverContainer:hover{
    background-color: #EDEDED;
    cursor: pointer;
    font-weight: 540;
}

.coverContainer img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.infos {
    width: 70%;
    height: 100%;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
    box-sizing: border-box;

    padding: 50px 50px 10px 50px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    background-color: white;
}

.fields {
    height: 85%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 10px;

    /* background-color: gray; */
}

.fields div {
    display: flex;
    flex-direction: column;
}

.invalidMessage {
    font-size: small;
    font-style: italic;
    color: #740000;
}

.infos input, textarea, select {
    height: 40px;
    width: 350px;

    background-color: #EDEDED;
    border: none;
    border-radius: 5px;

    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 1rem;
}

.infos textarea {
    height: 182px;
    resize: none;
    padding-top: 5px;
}

.infos input:focus,
.infos textarea:focus,
.infos select:focus {
    outline: 2px solid #4D643A;
}

input.empty,
textarea.empty,
select.empty {
    outline: 2px solid red;
}

.buttons {
    margin-top: auto;
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

    /* background-color: grey; */
}

.buttons button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;

    background-color: #EDEDED;
}

.buttons button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.buttons button:last-child {
    color: white;
    background-color: #4D643A;
}

.confirmPopUp {
    z-index: 100;
    position: fixed;
    align-self: center;
    justify-self: center;
    padding: 20px;
    box-sizing: border-box;
    
    height: 620px;
    width: 500px;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    background: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.confirmPopUp:open{
    display: flex;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 99; /* lower than addedPopUp */
}

.confirmPopUp .cover {
    display: flex;
    flex-direction: column;
    gap:10px;
    font-weight: bold;
}

.confirmPopUp img {
    height: 320px;
    width: 220px;
    border-radius: 10px;
}

.popUpButtons {
    display: flex;
    justify-content: space-around;
    gap:10px;
    width: 100%;
    height: 35px;
}

.popUpButtons button {
    width: 45%;
    border:none;
    border-radius: 10px;
    background-color: #EDEDED;
}

.popUpButtons button:last-child{
    background-color: #4D643A;
    color: white;
}

.popUpButtons button:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
    gap: 8px;

    user-select: none;

}

.details p {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: auto;
    height: 1.5rem;
}

.details p:hover {
    white-space: normal;
    overflow: visible;
}

.details span {
    min-width: 125px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

.addedPopUp {
    position: fixed;
    top: 20px;
    left:50%;
    transform: translateX(-50%);

    width: auto;
    height: auto;
    pointer-events: none;

    padding: 10px;
    box-sizing: border-box;
    color: white;

    z-index: 1000;
    border: none;
    border-radius: 10px;
    background-color: #4D643A;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;

    opacity: 0;
    transition: all 0.3s ease-out;
}

.addedPopUp.show {
    opacity: 1;
}

.addedPopUp.show.error {
    background-color: #740000;
}

