.borrowedBooks {
    margin-left: 4.5vw;
    margin-top: 6vh;
    width: 100vw;
    height: 94vh;
    padding: 80px 100px 10px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.borrowedBooks p {
    margin: 0;
}

.upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
}

.infoPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 23%;
    height: 100%;
    border-radius: 6px;
    outline: 2px solid #ededed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.icon {
    width: 27px;
    height: 27px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.books {
    display: flex;
    padding: 50px;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap:10px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    outline: 2px solid #ededed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.bookPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    height: 290px;
    width: 190px;
    font-size: 0.8rem;
    border-radius: 10px;

    user-select: none;

    border: 1px solid #ededed;
}

.bookPanel .status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.coverPlaceholder{
    width: 120px;
    height: 190px;
    background-color: grey;
}

.active {background-color: rgba(85, 101, 64, 0.8); }
.due { background-color: rgba(255, 192, 0, 0.8); }
.pending { background-color: rgba(88, 114, 242, 0.8); }
.overdue { background-color: rgba(242, 91, 88, 0.8);}