.borrowedBooks {
    margin-left: 4.5vw;
    margin-top: 6vh;
    width: 100vw;
    height: 94vh;
    padding: 80px 100px 10px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.borrowedBooks p {
    margin: 0;
}

.upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
}

.infoPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 23%;
    height: 100%;
    border-radius: 6px;
    outline: 2px solid #ededed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.icon {
    width: 27px;
    height: 27px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.books {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    outline: 2px solid #ededed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}