@font-face {
  font-family: 'Jomolhari';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jomolhari@latest/latin-400-normal.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/jomolhari@latest/latin-400-normal.woff) format('woff');
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.textContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    bottom: 300px;

    font-family: 'Jomolhari', sans-serif;
    font-size: 2rem;
    font-weight: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}