.switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: lightgrey;
    height: 5vh;
    width: 100%;
    gap:1%
}

.login,
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 90%;
    width: 55%;
    user-select: none;
    cursor: pointer;
    /* background-color: white; */
}

.focus {
    background-color: #4D643A;
    color: white;
}