.container {
    position: fixed;
    top: 0;
    margin-left: 4.5vw;
    z-index: 9;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px 0 50px;
    width: 95.5vw;
    height: 8vh;
    outline: 1px solid #4D643A;
    background-color: white;
}

.container p {
    margin: 0;
}

.id {
    opacity:0.3;
}

.userContainer {
    display: flex;
}

.icon {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50px;
}