.sidebar {
    position: fixed;
    z-index: 5;

    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 4.5vw;
    border-right: 1px solid #4D643A;
    container-type: inline-size;
    transition: width 0.3s ease;
    background-color: white;
}

.extended {
    width: 16vw;
}

.divider {
    border: none;
    border-top: 1px solid #4D643A;
    margin: 0;
}

.header {
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: 25px;
    color: #4D643A;
    user-select: none;
    height: 10vh
}

.burger {
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 5px;
}

.buttons {
    padding: 21px;
    flex-grow: 1;
}

.buttons div {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 27px;
    padding-left: 12px;
    height: 40px;
    font-size: 19.06px;
    user-select: none;
    transition: all 0.3s ease;
}

.buttons div:not(.focused):hover {
    outline: 2px solid #4D643A;
}

.focused {
    background-color:#4D643A;
    color: white;
}

.focused .icons {
    filter: invert(1); /*make icon white*/
}

.icons {
    width: 20px;
    height: 20px;
    margin-right: 27px;
}

.footer {
    font-size: 8px;
    opacity: 0.8;
    color: grey;
    text-align: center;
    padding: 10px;
}

@container (max-width: 14vw) {
    .sidebar p:not(.burger),
    .sidebar h1 {
        display: none;
    }

    .burger {
        padding-left: 0;
    }

    .icons {
        margin-right: 0;
    } 
}