*{
    margin: 0;
}

.container {
    position: fixed;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.viewBook {
    display: flex;
    height: 100%;
    width: 1200px;
    gap: 80px;
    padding: 20px;
    box-sizing: border-box;

    
    justify-self: right;
    margin-left: auto;

    background-color: white;
}

.bookCoverContainer {
    width: 40%;
    position: relative;
    align-items: center;
    display: flex;
    margin-left: -250px;
    pointer-events: none;
}

.bookCover {
    height: 700px;
    width: 500px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #ededed;
    

    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.bookInfo {
    height: 100%;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 45px;

    display: flex;
    flex-direction: column;
    
    /* background-color: darkgray; */
}

.close {
    position: absolute;
    right: 55px;
    top: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.close:hover {
    cursor: pointer;
    background-color: lightgray;
}

.infoHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoHeader h4 {
    opacity: 0.2;
}

.description {
    margin-bottom: 20px;
    height: 400px;
    padding: 5px;
    box-sizing: border-box;
    overflow: wrap;
    overflow-y: auto;
}

.description textarea {
    border-radius: 0;
    height: 80%;
    width: 100%;
    padding-right: 20px;
    background: none;
    resize: none;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details p {
    padding-left: 10px;
    display: flex;
    align-items: baseline;
}

.details p input {
    border: none;
    font-size: 1rem;
    height: 25px;
    box-sizing: border-box;
}

.details p:last-child input {
    width: 80%;
}

.details p input:not(.noEdit),
.description textarea:not(.noEdit) {
    border-bottom: 1px solid #4D643A;
}

.details p input:focus,
.description textarea:focus {
    border-bottom: 1px solid white;
    border-radius: 5px;
    outline: 2px solid #4D643A;
}

.noEdit {
    user-select: none;
    pointer-events: none;
}

.details span {
    min-width: 150px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

.buttons {
    position: absolute;
    right: 210px;
    bottom: 35px;
    height: 40px;
    width: 450px;

    display: flex;
    justify-content: end;
}

.buttons button{
    border-radius: 10px;
    border: none;

    width: 225px;

    color: white;
    background-color: #4D643A;
}

.buttons button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.editButtons {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.editButtons button:first-child {
    color: black;
    background-color: lightgrey;
}

.toast {
    position: fixed;
    top: 20px;
    left:50%;
    transform: translateX(-50%);

    width: auto;
    height: auto;
    pointer-events: none;

    padding: 10px;
    box-sizing: border-box;
    color: white;

    z-index: 100;
    border: none;
    border-radius: 10px;
    background-color: #4D643A;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.toast.show {
    opacity: 1;
}
