*{
    margin: 0;
}

.container {
    position: fixed;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.viewBook {
    display: flex;
    height: 800px;
    width: 1200px;

    padding: 20px;
    box-sizing: border-box;
    
    border-radius: 10px;

    position: relative;

    background-color: white;
}

.bookCoverContainer {
    width: 40%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookCover {
    height: 600px;
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #ededed;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.bookInfo {
    height: 100%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    /* background-color: darkgray; */
}

.close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 14px;
    height: 14px;
}

.close:hover {
    cursor: pointer;
}

.infoHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.author {
    opacity: 0.2;
}

.description {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 400px;
    padding-right: 20px;
    overflow: wrap;
    overflow-y: scroll;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.details p {
    display: flex;
    align-items: baseline;
}

.details p:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: auto;
}

.details p:last-child:hover {
    white-space: normal;
    overflow: visible;
    max-height: 3rem;
}

.details span {
    min-width: 145px;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;

}

.borrowButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 225px;

    border-radius: 10px;
    border: none;

    color: white;
    background-color: #4D643A;
}

.borrowButton:hover {
    cursor: pointer;
    transform: scale(1.01);
}

