.backdrop {
    position: fixed;
    inset: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,0.5);

    display: grid;
    grid-template-columns: 1fr clamp(500px, 60vw, 900px);
    grid-template-rows: 1fr;
    z-index: 1000;
}

.showBook {
    min-height: 0;
    min-width: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    
    transform: translateX(100%);
    animation: slideIn 0.25s forwards;
}

.close {
    position: absolute;
    top: clamp(1em, 2.5vw, 3em);
    right: clamp(1em, 4vw, 5em);
    height: clamp(2em, 2.5vw, 3em);
    aspect-ratio: 1;

    border-radius: 50%;
    display: flex;

    cursor: pointer;
    z-index: 1001;

    background-color: white;

    & > img {
        width: 30%;
        height: 30%;
        margin: auto;
    }

    &:hover {
        background-color: #ededed;
    }
}

.coverContainer {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    & > .cover {
        border-radius: 20px;
        width: min(70%, 600px);
        aspect-ratio: 2/3;
    
        background-color: white;
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    }
}

.bodyContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: clamp(30px, 4vw, 100px);

    & > .infoContainer {
        height: 95%;
    }
    
    & > .buttonContainer {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        & > .buttons {
            height: clamp(2em, 2.5vw, 3em);
            width: 35%; 
            display: flex;
            gap: 0.5em;
        }
    }
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .backdrop {
        grid-template-columns: 1fr;
        grid-template-rows: clamp(40dvh, 50dvw, 60dvh) auto;
    }

    .coverContainer > .cover {
        width: auto;
        height: 80%; 
    }
}